bs4
cycler==0.10.0
gensim==3.8.3
joblib==1.0.1
kiwisolver==1.3.1
lxml
matplotlib==3.3.4
nltk==3.6.5
numpy==1.19.5
Pillow==8.1.0
pyparsing==2.4.7
PyQt5-sip==12.8.1
PyQt5==5.15.2
python-dateutil==2.8.1
scikit-learn==0.24.1
scipy==1.5.4
six==1.15.0
sklearn
smart-open==4.2.0
spacy
threadpoolctl==2.1.0
torch==1.10.2
torchvision==0.4.0
tqdm==4.62.3
transformers==4.11.3